/* Filename - App.css */

body {
  font-family: "Lato", sans-serif;
  background: #EFEFF0;
  margin: 1rem 0;
}

section {
  position: relative;
  width: calc(50% - 1rem);
  padding: 0 0.5rem;
  float: left;
}

.App {
  margin: 0 auto;
  width: calc(800px - 2rem);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem 1rem;
}

.header h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: #0066FF;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: calc(800px - 2rem);
  margin: 2% auto;
  border-radius: 1rem;
  padding: 1rem;
  background: white;
}

.item {
  width: 200px;
  margin: 0 auto;
  padding: 2px;
  border-radius: 10px;
  text-align: left;
}

label {
  display: inline-block;
  width: auto;
  border-radius: 5px;
  background-color: #edf2f2;
  color: #222;
  font-size: larger;
  margin: auto;
  padding: 1rem;
}

label b {
  color: #0066FF;
}

button {
  width: 100%;
}

label:hover,
button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#csvInputCov,
#csvInputData {
  display: none;
}