/* Filename - App.css */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.App {
  margin: 0 auto;
  text-align: center;
}

.header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0066FF;
  margin: 0;
}

small {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem;
  background: white;
}

.item {
  width: 200px;
  margin: 0 auto;
  padding: 2px;
  border-radius: 10px;
  text-align: left;
}

label {
  display: inline-block;
  width: auto;
  border-radius: 5px;
  background-color: #edf2f2;
  color: #222;
  font-size: larger;
  margin: auto;
  padding: 1rem;
}

label b {
  color: #0066FF;
}

button {
  width: 100%;
}

label:hover,
button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#csvInputCov,
#csvInputData {
  display: none;
}